---
- name: checkout ATF git
  git:
    repo: '{{ sunxi_atf_git_repo }}'
    dest: '{{ sunxi_atf_compile_dir }}'
    version: '{{ sunxi_atf_git_version }}'

- name: make ATF
  environment:
    CROSS_COMPILE: '{{ cross_compile_prefix }}'
  make:
    chdir: '{{ sunxi_atf_compile_dir }}'
    target: bl31
    params:
      PLAT: sun50iw1p1
      DEBUG: 1
  when:
  - ansible_architecture == "aarch64"

- name: checkout U-boot git
  git:
    repo: '{{ sunxi_uboot_git_repo }}'
    dest: '{{ sunxi_uboot_compile_dir }}'
    version: '{{ sunxi_uboot_git_version }}'

- name: make U-boot (32-bit)
  environment:
    ARCH: arm
    CROSS_COMPILE: '{{ cross_compile_prefix }}'
  make:
    chdir: '{{ sunxi_uboot_compile_dir }}'
    target: '{{ item }}'
  with_items:
  - '{{ sunxi_uboot_defconfig }}'
  - u-boot-sunxi-with-spl.bin
  when:
  - ansible_architecture == "armv7l"

- name: make U-boot (64-bit)
  environment:
    BL31: '{{ sunxi_atf_compile_dir }}/build/sun50iw1p1/debug/bl31.bin'
    CROSS_COMPILE: '{{ cross_compile_prefix }}'
  make:
    chdir: '{{ sunxi_uboot_compile_dir }}'
    target: '{{ item }}'
  with_items:
  - '{{ sunxi_uboot_boardname }}_defconfig'
  - u-boot-sunxi-with-spl.bin
  when:
  - ansible_architecture == "aarch64"
...
