---
  - name: Ensure mountpoint is there
    file:
      path: "{{ sunxi_mountpoint }}"
      state: directory
      mode: 0755
  - name: Put Carbon/sunxi in fstab and mount
    mount:
      name: "{{ sunxi_mountpoint }}"
      src: "{{ sunxi_src }}"
      fstype: nfs
      opts: defaults,local_lock=all
      state: mounted
  - name: Add dtc repository
    apt_repository:
      repo: ppa:jorik-kippendief/dtc
      filename: jorik-kippendief-dtc
      state: present
  - name: Install packages
    apt: name={{ item }} state=present
    with_items:
      - ser2net
      - u-boot-tools
      - sysfsutils
      - make
      - device-tree-compiler
  - name: Userspace U-Boot environment config
    template:
      src: fw_env.config
      dest: /etc/fw_env.config
  - name: ser2net configfile
    template:
      src: ser2net.conf
      dest: /etc/ser2net.conf
    notify:
    - restart ser2net
  - name: Install Makefile for U-boot scripts
    copy:
      src: Makefile
      dest: /boot/Makefile
    notify:
    - recompile uboot scripts
  - name: Install U-boot scripts
    template:
      src: "{{ item }}.cmd"
      dest: "/boot/{{ item }}.cmd"
    with_items:
      - boot
    register: scripts
    notify:
    - recompile uboot scripts
  - name: Install U-boot boot.txt
    template:
      src: boot.txt
      dest: "/boot/boot.txt"
  - name: Install FDT overlays
    copy:
      src: "{{ item }}.dtso"
      dest: /boot/{{ item }}.dtso
    with_items: "{{ sunxi_overlays }}"
    notify:
    - recompile uboot scripts
  - name: Prepare GPIO for rebooting
    template:
      src: sunxi-reboot-other.conf
      dest: /etc/sysfs.d/sunxi-reboot-other.conf
    notify:
    - restart sysfsutils
  - name: Reboot script
    template:
      src: sunxi-reboot-other.sh
      dest: /usr/local/sbin/sunxi-reboot-other.sh
      mode: 0755
