---
- name: create zone config on master
  template:
    src: master-zone.conf
    dest: /etc/icinga2/zones-ansible.d/{{ inventory_hostname }}.conf
  delegate_to: "{{ icinga2_master_fqdn }}"
  notify:
  - restart local icinga2
- name: create zone directory on sattelite
  file:
    path: /etc/icinga2/zones.d/{{ inventory_hostname }}
    state: directory
    mode: 0755
- name: create zone directory on master
  file:
    path: /etc/icinga2/zones.d/{{ inventory_hostname }}
    state: directory
    mode: 0755
  delegate_to: "{{ icinga2_master_fqdn }}"
- name: create Icinga config file in zone
  template:
    src: zone-hosts.conf
    dest: /etc/icinga2/zones.d/{{ inventory_hostname }}/hosts.conf
  delegate_to: "{{ icinga2_master_fqdn }}"
  notify:
  - restart remote icinga2
...
